mixin redesSociales(enlaces)
 .redesSociales

  //- each enlace in enlaces
  svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='83.377' height='17.808' viewbox='0 0 83.377 17.808')
   defs
    clippath#clip-path
     rect(id='Rectángulo_688' data-name='Rectángulo 688' width='14.786' height='14.786' transform='translate(0 0)' fill='#b14a4a')
   g(data-name='Grupo 1' transform='translate(-918.312 -144.706)')
    if enlaces.facebook
     a(href=`${enlaces.facebook}${redesEnlace}` target="_blank" rel="noopener noreferrer").socialBtn
      g#facebook(transform='translate(918.312 144.706)')
       g#Grupo_2223(data-name='Grupo 2223' transform='translate(0 0)')
        g#Grupo_2222(data-name='Grupo 2222')
         path#f_8_(d='M727.1,17.808V9.686h2.725l.409-3.166H727.1V4.5c0-.917.253-1.541,1.569-1.541h1.675V.124A22.58,22.58,0,0,0,727.906,0a3.814,3.814,0,0,0-4.072,4.184V6.519H721.1V9.685h2.734v8.123Z' transform='translate(-721.1)' fill='#b14a4a')
    if enlaces.socialX
     a(href=`${enlaces.socialX}&url=${redesEnlace}` target="_blank" rel="noopener noreferrer").socialBtn
      g#socialX(transform='translate(949.937 146.489)')
       path#path1009(d='M-52.351,25.1l6.587,8.824L-52.4,41.1h1.5l5.825-6.292,4.694,6.292h5.088l-6.98-9.315L-36.1,25.1h-1.475l-5.358,5.776L-47.263,25.1h-5.088Zm2.187,1.081h2.335L-37.506,39.97h-2.335Z' transform='translate(52.4 -25.1)' fill='#b14a4a')
    if enlaces.whatsapp
     a(href=`${enlaces.whatsapp}${redesEnlace}` target="_blank" rel="noopener noreferrer").socialBtn
      g#whatsapp(data-name='Grupo 2221' transform='translate(986.902 147.704)')
       g#Grupo_2220(data-name='Grupo 2220' transform='translate(0 0)' clip-path='url(#clip-path)')
        path#Trazado_3318(data-name='Trazado 3318' d='M7.537,0h0a7.53,7.53,0,0,0-6.1,11.952L.5,14.751l2.9-.926A7.534,7.534,0,1,0,7.537,0m4.384,10.641A2.127,2.127,0,0,1,10.443,11.7c-.394.084-.908.151-2.639-.567A9.44,9.44,0,0,1,4.052,7.823a4.3,4.3,0,0,1-.895-2.273,2.406,2.406,0,0,1,.771-1.834,1.1,1.1,0,0,1,.771-.27c.093,0,.177,0,.253.009.222.01.333.023.479.372.182.438.624,1.519.677,1.631a.448.448,0,0,1,.032.408,1.3,1.3,0,0,1-.244.346c-.112.128-.217.226-.328.364-.1.12-.217.248-.088.469A6.685,6.685,0,0,0,6.7,8.563a5.525,5.525,0,0,0,1.767,1.09A.477.477,0,0,0,9,9.569a9.078,9.078,0,0,0,.589-.78.42.42,0,0,1,.541-.164c.2.071,1.28.6,1.5.713s.367.164.421.257a1.891,1.891,0,0,1-.13,1.045' transform='translate(-0.351 -0.279)' fill='#b14a4a')
        //- https://api.whatsapp.com/send?text=Ver%20proyecto%3A%20https%3A%2F%2Fwww.eltiempo.com%2Fjusticia%2Finvestigacion%2Fcarceles-en-colombia-presos-del-hacinamiento-y-la-extorsion-3357793


     //- if enlaces.facebook === 'facebook'

   //- if enlace.name === 'socialX'
   //-
   //- if enlace.name === 'whatsapp'
   //-  a(href=`${enlace.link}${redesEnlace}` target="_blank" rel="noopener noreferrer").socialBtn
   //-   g#whatsapp(data-name='Grupo 2221' transform='translate(986.902 147.704)')
   //-    g#Grupo_2220(data-name='Grupo 2220' transform='translate(0 0)' clip-path='url(#clip-path)')
    path#Trazado_3318(data-name='Trazado 3318' d='M7.537,0h0a7.53,7.53,0,0,0-6.1,11.952L.5,14.751l2.9-.926A7.534,7.534,0,1,0,7.537,0m4.384,10.641A2.127,2.127,0,0,1,10.443,11.7c-.394.084-.908.151-2.639-.567A9.44,9.44,0,0,1,4.052,7.823a4.3,4.3,0,0,1-.895-2.273,2.406,2.406,0,0,1,.771-1.834,1.1,1.1,0,0,1,.771-.27c.093,0,.177,0,.253.009.222.01.333.023.479.372.182.438.624,1.519.677,1.631a.448.448,0,0,1,.032.408,1.3,1.3,0,0,1-.244.346c-.112.128-.217.226-.328.364-.1.12-.217.248-.088.469A6.685,6.685,0,0,0,6.7,8.563a5.525,5.525,0,0,0,1.767,1.09A.477.477,0,0,0,9,9.569a9.078,9.078,0,0,0,.589-.78.42.42,0,0,1,.541-.164c.2.071,1.28.6,1.5.713s.367.164.421.257a1.891,1.891,0,0,1-.13,1.045' transform='translate(-0.351 -0.279)' fill='#b14a4a')



   //- if enlace.name == 'facebook'
   //-  a(href=`${enlace.link}${redesEnlace}` target="_blank" , rel="noopener noreferrer" title=`${enlace.name}`).redesSociales__icon
   //-   i(class=`flaticon-${enlace.name}`)
   //- else
   //-  a(href=`${enlace.link}:${redesEnlace}` target="_blank" , rel="noopener noreferrer" title=`${enlace.name}`).redesSociales__icon
   //-   i(class=`flaticon-${enlace.name}`)






//- -
//-   var redesSociales = [
 {
 'name': 'whatsapp',
 'link': `https://wa.me/?text=Comparto el Especial de El Tiempo "${especialTitulo}"&body=${textoRedesSociales} `,
 },
//-     {
//-     'name': 'email',
//-     'link': `mailto:0?Subject=Te Comparto el Especial de El Tiempo "${especialTitulo}"&body=${textoRedesSociales} `,
//-     },
//-     {
//-     'name': 'twitter',
//-     'link': `https://twitter.com/intent/tweet?text=${textoRedesSociales} `,
//-     },
//-     {
//-     'name': 'facebook',
//-     'link': `https://www.facebook.com/sharer/sharer.php?u= `,
//-     },
//-   ]
//- +redesSociales(redesSociales)
