mixin slidersCss(slidersCss)
  //- each sliderCss in slidersCss
  //-   div(id=`#slides__${sliderCss.numero}`).slideCSS
  //-     //- span.slide__text 1
  //-     .slidesCSS--content.container-tabletL
  //-       img(src=`${imgURL}${sliderCss.img}`, alt="").slidesCSS--content_img
  //-       h3.slidesCSS--content_titulo Alejandra Miller
  //-       p.slidesCSS--content_parrafo Hemos tenido enormes avances desde el enfoque de género, en la participación real de las mujeres y de las personas LGBT tanto en la toma de los testimonios como en preguntas muy importantes para las mujeres. Estamos trabajando alrededor del concepto ampliado de violencias sexuales en el marco del conflicto armado, que no lo hemos tenido en otras comisiones en el mundo. Son aportes específicos que nos van ayudar a garantizar que esas voces de las mujeres y de las personas LGBT estén incluidas en todo este proceso.
  //-     //- if (index + 1) == 1
  //-     //-   //- a.slideCSS__prev(href=`#slides__${slidersCss.length}` title='Next')
  //-     //-   a.slideCSS__prev(href='#slides__2' title='Next')
  //-     //- else
  //-     //-   a.slideCSS__prev(href=`#slides__${index - 1}` title='Next')
  //-     //- if (index + 1) == slidersCss.length
  //-     //-   a.slideCSS__next(href=`#slides__${slidersCss.length}` title='Next')
  //-     //- else
  //-     //-   a.slideCSS__next(href=`#slides__${sliderCss.numero - 1}` title='Next')
  //-     //- //- a.slideCSS__next(href='#slides__2' title='Next')
  //-     a.slideCSS__prev(href=`#slides__${sliderCss.prev}` title='Prev')
  //-     a.slideCSS__next(href=`#slides__${sliderCss.next}` title='Next')



