//- mixin swiperPug(swipersInfo)
//-   .swiper.mySwiper.swiperStop.no-pag
//-     .swiper-wrapper
//-       each swiperInfo in swipersInfo
//-         .swiper-slide
//-           .swiper-content
//-             //- Dentro de content se podrá poner todo lo que se deasea para mostrar en CADA slider
//-             img(src=`${imgURL}${swiperInfo.img}.jpg`, alt="").swiper-content_img
//-             h3.swiper-content_titulo= `${swiperInfo.titulo}`
//-             p.swiper-content_parrafo= `${swiperInfo.parrafo}`
//-       .swiper-button-next
//-       .swiper-button-prev
//-       .swiper-pagination

//- mixin swiperVideoPug(swipersVideoInfo)
//-   .swiper.mySwiper.swiperStop.no-pag
//-     .swiper-wrapper
//-       each swiperVideoInfo in swipersVideoInfo
//-         .swiper-slide
//-           .swiper-content
//-             //- Dentro de content se podrá poner todo lo que se deasea para mostrar en CADA slider
//-             img(src=`${imgURL}${swiperVideoInfo.img}.jpg`, alt="").swiper-content_img
//-             h3.swiper-content_titulo= `${swiperVideoInfo.titulo}`
//-             p.swiper-content_parrafo= `${swiperVideoInfo.parrafo}`
//-     .swiper-button-next
//-     .swiper-button-prev
//-     .swiper-pagination
