mixin sliderPugSimple(sliderPugSimpleInfo)
  .sliderNNJ.container-pc-full
   .sliderNNJ-area
     .sliderNNJ-item.sliderNNJ-active
       p Hola 1
       p.sliderNNJ-creditos Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse, hac faucibus libero egestas inceptos pellentesque hendrerit nunc at, odio integer semper consequat facilisis
     .sliderNNJ-item
       p Buenas 2
       p.sliderNNJ-creditos Lorem ipllentesque hendrerit nunc at, odio integer semper consequat facilisis
     .sliderNNJ-item
       p Tardes3
       p.sliderNNJ-creditos Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse, hac faucibus libero egestas inceptos pellentesque hendrerit nunc at, odio integer semper consequat facilisis
     .sliderNNJ-item
       p Hola4
       p.sliderNNJ-creditos dolor sit amet consectetur adipiscing elit suspendisse, hac faucibus libero egestas inceptos pellentesque hendrerit nunc at, odio integer semper consequat facilisis
     .sliderNNJ-item
       p Hola5
       p.sliderNNJ-creditos Lorem ipsum dolor sit amet consectetur adipiscing eptos pellentesque hendrerit nunc at, odio integer semper consequat facilisis
   img(src=`${imgURL}NNJ/Flecha-Izq.svg${imgQuery}`, alt=`${especialTitulo}` title=`${especialTitulo}`, loading='lazy').sliderNNJ-flecha#sliderNNJ-flecha-izq
   img(src=`${imgURL}NNJ/Flecha-Der.svg${imgQuery}`, alt=`${especialTitulo}` title=`${especialTitulo}`, loading='lazy').sliderNNJ-flecha#sliderNNJ-flecha-der
